/* .App {
  width: 70%;
  margin: auto;
  text-align: center;
  border: 2px solid red;
} */
*{
  margin: 0;
  padding: 0;
}

#signUpForm {
  width: 500px;
  margin: auto;
  margin-top: 100px;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 30px 20px;
}
/* #signUpForm {
  width: 60%;  
} */
.signUpHeading {
  color: black;
  margin-bottom: 25px;
}
.nameLabel {
  color: black;
  font-size: larger;
  font-weight: bolder;
}
.emailLabel {
  color: black;
  font-size: larger;
  font-weight: bolder;
}
.passwordLabel {
  color: black;
  font-size: larger;
  font-weight: bolder;
}
.nameInp {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 25px;
  padding: 5px 0px 0px 0px;
  border: none;
  border-bottom: 2px solid grey;
  font-size: medium;
}
.nameInp:focus {
  outline: none;
}
.emailInp {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 25px;
  padding: 5px 0px 0px 0px;
  border: none;
  border-bottom: 2px solid grey;
  font-size: medium;
}
.emailInp {
  outline: none;
}
.passwordInp {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 25px;
  padding: 5px 0px 0px 0px;
  border: none;
  border-bottom: 2px solid grey;
  font-size: medium;
}
.passwordInp {
  outline: none;
}
.btn {
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px 130px;
  border-radius: 5px;
  border: 1px solid green;
  background-color: green;
  color: white;
  font-size: large;
  font-weight: bolder;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.btn:hover {
  color:black;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


/* navbar css */

#navbar {
  border: 2px solid black;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 20px 10px;
  /* text-decoration: none; */
  background-color: black;
  color: white;
}
.alertWarning {
  color: red;
  margin-top: -20px;
}